<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.safety_alarm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.application.safety_alarm.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.safety_alarm.NewAppointmentActivity"
            android:label="@string/title_activity_new_appointment" >
        </activity>
        <receiver android:name=".SMSReceiver"> 
        	<intent-filter android:priority="1000">
        	    <action android:name="android.provider.Telephony.SMS_RECEIVED" />
        		<!-- <action android:name="android.intent.action.DATA_SMS_RECEIVED" />
        		<data android:host="localhost" /> 
            		<data android:scheme="sms" /> 
            		<data android:port="5404" /> --> 
        	</intent-filter> 
		</receiver> 
        <activity
            android:name=".wifiList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.WIFILIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>